* {
  box-sizing: border-box;
  

  
}
body{
  background-color: white;
  
}
h1{
  color: white;
  text-align: center;
}
#Searchbox{
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}
body {
  
  background: url("https://images8.alphacoders.com/633/633270.png") no-repeat center fixed; 
  background-size: cover;
}
button
{
  color: white;
  background-color: rgba(0, 0, 0, 0.699);
}
input{
  width: 50%;
}
#LocationInfo{
  color: white;
  width: 40%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: 2em;
}

#ResidentInfo{
  font-size: small;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #fffffe48;
  color: white;
  max-width: 40%;
  padding: 0.0px;
  margin-bottom: 2em;
  display: flex;
  align-items: left;
  flex-flow: column wrap;

}
#Firstimage{
  max-height: 12em;
  object-fit: cover;
  margin-bottom: 2em;
}
img{
  width: 100%;
  border-radius: 8px;
  
}
#Residentlist{
  margin: auto;
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

}
h2{
  text-align: center;
  margin-bottom: 0.0px;
}
p{
  padding-left: 1em;
}
/*#1F2605*/